source https://api.nuget.org/v3/index.json
framework: auto-detect

# Checking iff <4 is prone ot the problem
nuget EventStore.Client 3.5.2
nuget FSharp.Core redirects: force
nuget FSharp.Control.AsyncSeq
nuget Newtonsoft.json
nuget Serilog
nuget Serilog.Sinks.Observable
nuget System.Reactive
nuget TypeShape

# Single group to avoid conflicts
//group test
	nuget Argu
	nuget Destructurama.FSharp
	nuget FsCheck.xUnit
	nuget MathNet.Numerics
	nuget Serilog.Sinks.Console
	nuget Serilog.Sinks.File
	nuget Unquote
	nuget xunit.core redirects: force
	nuget xunit.runner.visualstudio

group build
    source https://api.nuget.org/v3/index.json

    nuget FAKE