source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget EventStore.Client >= 4.1.1
nuget FSharp.Core redirects: force
nuget FSharp.Control.AsyncSeq
nuget Newtonsoft.Json
nuget Serilog
nuget System.Reactive
nuget System.Runtime.Caching
nuget TypeShape

# Single group to avoid conflicts
//group test
	nuget Argu
	nuget Destructurama.FSharp
	nuget FsCheck.Xunit
	nuget MathNet.Numerics
	nuget Serilog.Sinks.Console
	nuget Serilog.Sinks.File
	nuget Serilog.Sinks.Seq
	nuget Unquote
	nuget xunit.core redirects: force
	nuget xunit.runner.visualstudio